body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  color: #333;
}

.box {
  background-color: white;
  padding: 20px;
  margin: 30px;
}

h1 {
  color: darkred;
}

a {
  color: navy;
}
